@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../style/variable";

//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ all @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif !important;
}

//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_one @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.sec_one {
  background-color: $bg;
  header {
    overflow: hidden;
    //  ######### navbar #########
    .navbar {
      position: relative;
      z-index: 10;
      @include transition($time:0.1s);

      .navbar-toggler {
        transition: none;
        border: none;
        font-size: 25px;

        &:focus{
          box-shadow: none;
        }
      }

      .navbar-brand {

        position: relative;

        .logo {
          width: 130.6px;
          height: 40.48px;
        }
        .logo_append {
          position: absolute;
          width: 8.89px;
          height: 12.27px;
          left: 138.02px;
        }
      }

      .nav-item {
        padding-left: 70px;

        .dropdown-menu.show {
          display: flex;
          justify-content: end;
          align-items: center;
          background: transparent;
          border: none;
          margin: 0;
          padding: 0;
        }

        .nav-link {
          font-size: $nav_font;
          font-weight: $nav_weight;
          color: $nav_font_color;
        }
      }

      .login_ul {
        padding: 0 !important;
        align-items: center;
        padding: 0 !important;
        display: flex;
        justify-content: center;

        .login_li {
          background: $prim_color;
          border-radius: 225px;
          width: 140px;
          height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 50px;
          gap: 5px;

          .login_a {
            font-size: $btn_font;
            color: #fff;
            text-decoration: none;
          }
        }
      }

      .login_li_icon {
        width: 52px;
        height: 52px;
        background-color: $prim_color;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        i {
          color: #fff;
          position: relative;

          &::after {
            content: "2";
            position: absolute;
            background: $sec_color;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            display: flex;
            font-size: 10px;
            justify-content: center;
            align-items: center;
            top: -20px;
            left: 15px;
          }
        }
      }
    }

    .sticky {
      position: fixed;
      width: 100%;
      border-bottom: 1px solid $title_font_color;
      backdrop-filter: blur(10px);
      box-shadow: 0 0 8px 1px #afababc7;
    }

    //  ######### main #########

    .banner_title {
      position: relative;
      padding: 135px 0 0;

      img {
        position: absolute;
        width: 225px;
        height: 225px;
        left: -120px;
        top: -25px;
        filter: blur(2px);
      }

      h1 {
        font-family: $prim_family;
        font-style: normal;
        font-weight: $h1_weight;
        font-size: $h1_font;
        line-height: 130%;
        color: $prim_color;

        span{
          color: $sec_color;
        }
      }

      h3 {
        font-style: normal;
        font-weight: $h4_weight;
        font-size: $h4_font;
        line-height: 140%;
        color: $title_font_color;
        margin-bottom: 30px;
      }

      form {
        position: relative;
        margin-bottom: 130px;

        .circle {    
          position: absolute;
          width: 50px;
          height: 50px;
          transform: translate(5px, 5px);
          left: 0;
          top: 0;
          background: $sec_color;
          border-radius: 100%;
        }

        .location_input {    
          width: 170px;
          height: 60px;
          border: 2px solid $prim_color;
          border-radius: 120px;
          background: transparent;
          color: $title_font_color;
          font-size: $h4_font;
          font-weight: $nav_weight;
          padding-left: 60px;
          @include transition(width,0.4s,cubic-bezier(0.47, 1.64, 0.32, 0.71));
        }

        button {    
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 15px 50px;
          gap: 8px;
          width: 168.56px;
          height: 58.19px;
          transform: translateX(1%);
          left: 0;
          border: navajowhite;
          color: #fff;
          font-size: $btn_font;
          font-weight: $nav_weight;
          top: 0;
          background: #396C03;
          border-radius: 100px;
          position: absolute;
          @include transition(transform,0.4s,cubic-bezier(0.47, 1.64, 0.32, 0.71));
        }
      }
    }

    .banner_img {
      position: relative;

    .batch {
        position: absolute;
        width: 200px;
        height: 90px;
        left: 95px;
        top: 50px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
        backdrop-filter: blur(2px);
        border-radius: 8.86914px;
        z-index: 2;
        padding: 10px;

        
        h4{    
          font-weight: 700;
          font-size: $h4_font;
          line-height: 130%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $sec_color;
          
          &:last-child {
            color: #000;
          }

          img{
            width: 25px;
            margin-right: 15px;
          }
        }

        p{
          font-style: normal;
          font-weight: 600;
          font-size: $nav_font;
          line-height: 130%;
          text-align: center;
          color: $title_font_color;
          margin-bottom: 5px;
        }
      }

      .banner_plate {
        position: absolute;
        width: 480px;
        height: 480px;
        left: -55px;
        z-index: 1;
        top: 100px;
      }

      .banner_left {
        position: absolute;
        width: 174px;
        height: 200px;
        left: 280px;
        top: 38px;
        transform: rotate(-10deg);
      }
    }
  }
}

//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_one @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@





//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_two @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


.sec_two {
  padding-top: 150px;

  .Delivery_title {

    h1 {
      font-family: 'Merienda';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 130%;
      color: $prim_color;
    }

    p {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: $title_font_color;
    }
    
    button {
      font-size: $btn_font;
      font-weight: $nav_weight;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 15px 20px;
      width: 160px;
      height: 50px;
      border: none;
      background: $prim_color;
      border-radius: 224.4px;
      color: #fff;
    }
  }

  .Delivery_img {
    position: relative;
    overflow: hidden;

    .cycler_bg {
      width: 110%;
    }
    .cycler{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      animation: cycling infinite alternate-reverse 3s linear;
    }

    @keyframes cycling {
      0%{
        transform: translateX(0px);
      }
      100%{
        transform: translateX(120px);
      }
    }
  }

}


//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_two @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


