@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../style/variable";

//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ all @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif !important;
}

  
  .form_validtation {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: $prim_color_mild;
    backdrop-filter: blur(7px);
    border-radius: 8.86914px;
    z-index: 3;
    padding: 36px 50px;

  .brand_logo {
    text-align: center;
    img {
      width: 18%;
    }
  }
    

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      fieldset {
        width: 100%;

        legend {
          text-align: center;
          font-size: $h4_font;
          font-weight: $nav_weight;
          color: #000;
          margin-bottom: 25px;
        }

        .form_group {
          display: flex;
          flex-direction: column;
          padding:  10px 0;
          position: relative;

          .input_item {
            position: relative;

            input {
              width: 100%;
              border: 2px solid #3f3f3f96;
              color: #000;
              font-size: $btn_font;
              font-weight: $nav_weight;
              background: transparent;
              border-radius: 10px;
              outline: none;
              padding: 7px 0 4px 15px;
              @include transition(transform,0.4s,cubic-bezier(0.47, 1.64, 0.32, 0.71));
  
              &[type = submit]{
                background-color: $prim_color;
                color: #fff;
                text-transform: uppercase;
                padding: 0;
                border: none;
                padding: 4px 0;
                font-size: $h4_font_m;
              }
            
              &:focus ~ label, &:valid ~ label {
                font-size: 1em;
                transform: translateY(-33px);
                background-color: $prim_color;
                color: #fff;
                border-radius: 4px;
                padding: 0 10px;
                left: 15px;
              }
              

              &:focus-visible {
                outline: none !important;
              }

            }

            label {
              position: absolute;
              font-size: $btn_font;
              font-weight: $nav_weight;
              color: #000;
              padding: 0 15px;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              transition: all 0.3s linear;
            }
  
            button {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              outline: none;
              height: 100%;
              border: none;
              background-color: transparent;
              padding: 0 7px 0 0;
              top: 0;
              right: 0;

                .fa-circle-check {
                  color: $prim_color;
                }

                .fa-circle-exclamation {
                  color: $sec_color;
                  text-shadow: 1px 1px 1px #000;
                }

                .fa-eye {
                  width: 20px;
                  color: $prim_color;
                }

                .fa-eye-slash{
                  color: $prim_color;
                }
            }
          }

          small {
            color: $sec_color;
            font-size: $btn_font_sm;
            font-weight: $nav_weight;    
            text-shadow: 1px 1px black;
            filter: contrast(1.4);
            letter-spacing: 0.4px;
          }

          div {
            text-align: end;
            a {
              text-decoration: none;
              color: $a_tag_color;
              font-size: $btn_font_sm;
              font-weight: $nav_weight;
  
              &:hover {
                color: $a_tag_color;
                text-decoration:underline;
              }
            }
          }
        }
        p {
          // background-color: $sec_color;
          text-align: center;
          margin: 0;
          font-weight: $nav_weight;

          a {
            color: $a_tag_color;
            font-size: $btn_font_sm;
            text-decoration: none;              
            font-weight: $nav_weight;
            font-weight: $nav_weight;

            &:hover {
              color: $a_tag_color;
              text-decoration:underline;
            }
          }
        }
      }
    }
  }




//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_one @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.sec_one {
  position: relative;
  background-color: $bg;

  iframe {
    display: none;
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 40%;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 12px;
  }

  header {
    overflow: hidden;
    //  ######### navbar #########
    .navbar {
      position: relative;
      z-index: 10;

      .navbar-toggler {
        transition: none;
        border: none;
        font-size: 25px;

        &:focus{
          box-shadow: none;
        }
      }

      .navbar-brand {
        position: relative;

        .logo {
          width: 130.6px;
          height: 40.48px;
        }
        .logo_append {
          position: absolute;
          width: 8.89px;
          height: 12.27px;
          left: 138.02px;
        }
      }

      .nav-item {
        padding-left: 70px;

        .dropdown_lang {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          form {

            input{
              width: 2.2rem;
              border: none;
              cursor: pointer;
              background-color: transparent;
              font-size: $nav_font;
              font-weight: $nav_weight;
              color: $nav_font_color;
              
              &:focus-visible {
                border: none;
                outline: none;
              }
            }

            &::before {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              background-color: $sec_color;
              width: 100%;
              height: 0px;
              transition: all 0.2s linear;
              border-radius: 20px;
            }
  
            &:hover::before {
              height: 2.3px;
            }

          }

          ul {
            position: absolute;
            padding: 0;
            top: 110%;
            left: 55%;
            
            li {
              list-style: none;
              padding: 5px 0;
              background-color: $prim_color;
              transition: all 0.2s linear;

              &:hover {
                  background-color: $sec_color;
                }

              a {
                text-decoration: none;
                padding: 4px 16px;
                color: #fff;
                font-size: $base_font;
                font-weight: $nav_weight;
              }
            }
            hr{
              margin: 0;
              color: #000;
            }
          }
        }

        .lang {
          position: relative;
          height: 100%;

          select {
            appearance: none;
            background-color: transparent;
            border: none;
            height: 100%;
  
            &:focus-visible {
              outline: none;
              box-shadow: none;
            }

            &:focus > option:checked {
              background: #396C03 !important;
            }
  
            option {
              
            }
          }

            &::before {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              background-color: $sec_color;
              width: 100%;
              height: 0px;
              transition: all 0.2s linear;
              border-radius: 20px;
            }
  
            &:hover::before {
              height: 2.3px;
            }

        }


        .nav-link {
          font-size: $nav_font;
          font-weight: $nav_weight;
          color: $nav_font_color;
          position: relative;
          
          &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            background-color: $sec_color;
            width: 100%;
            height: 0px;
            transition: all 0.2s linear;
            border-radius: 20px;
          }

          &:hover::before {
            height: 2.3px;
          }
        }
      }

      .login_ul {
        padding: 0 !important;
        align-items: center;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        margin: 0;

        .login_li {
          list-style: none;

          button {
            border: none;
            background: transparent;
            font-size: $btn_font;
            color: #fff;
            text-decoration: none;cursor: pointer;
            background: $prim_color;
            border-radius: 225px;
            width: 140px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 50px;
            gap: 5px;
            
          }
        }
      }

      .login_li_icon {
        width: 52px;
        height: 52px;
        background-color: $prim_color;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        i {
          color: #fff;
          position: relative;

          &::after {
            content: "2";
            position: absolute;
            background: $sec_color;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            display: flex;
            font-size: 10px;
            justify-content: center;
            align-items: center;
            top: -20px;
            left: 15px;
          }
        }
      }
    }

    .sticky {
      position: fixed;
      width: 100%;
      backdrop-filter: blur(10px);
      box-shadow: 0 0 8px 1px #afababc7;
    }

    //  ######### main #########

    .banner_title {
      position: relative;
      padding: 135px 0 0;

      img {
        position: absolute;
        width: 225px;
        height: 225px;
        left: -120px;
        top: -25px;
        filter: blur(2px);
      }

      h1 {
        font-family: $prim_family;
        font-style: normal;
        font-weight: $h1_weight;
        font-size: $h1_font;
        line-height: 130%;
        color: $prim_color;

        span{
          color: $sec_color;
        }
      }

      h3 {
        font-style: normal;
        font-weight: $h4_weight;
        font-size: $h4_font;
        line-height: 140%;
        color: $title_font_color;
        margin-bottom: 30px;
      }

      form {
        position: relative;
        margin-bottom: 130px;
        width: 85%;

        .circle {    
          position: absolute;
          cursor: pointer;
          width: 50px;
          height: 50px;
          transform: translate(5px, 4.5px);
          left: 0;
          top: 0;
          background: $sec_color;
          border-radius: 100%;
        }

        .location_input {    
          display: none;
          outline: none;
          width: 100%;
          border: 2px solid $prim_color;
          border-radius: 120px;
          background: transparent;
          color: $title_font_color;
          font-size: $h4_font;
          font-weight: $nav_weight;
          padding: 10px 0 12px 60px;
          @include transition(width,0.4s,cubic-bezier(0.47, 1.64, 0.32, 0.71));
        }

        #location_input_btn {    
          position: absolute;
          cursor: pointer;
          padding: 16px 40px;
          left: 0;
          border: navajowhite;
          color: #fff;
          font-size: $btn_font;
          font-weight: $nav_weight;
          top: 0;
          background: #396C03;
          border-radius: 100px;
          outline: none;
          @include transition(transform,0.4s,cubic-bezier(0.47, 1.64, 0.32, 0.71));
          &:focus-visible {
            outline: none !important;
          }
        }
      }
    }

    .banner_img {
      position: relative;

    .batch {
        position: absolute;
        width: 200px;
        height: 90px;
        left: 95px;
        top: 50px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
        backdrop-filter: blur(2px);
        border-radius: 8.86914px;
        z-index: 2;
        padding: 10px;

        
        h4{    
          font-weight: 700;
          font-size: $h4_font;
          line-height: 130%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $sec_color;
          
          &:last-child {
            color: #000;
          }

          img{
            width: 25px;
            margin-right: 15px;
          }
        }

        p{
          font-style: normal;
          font-weight: 600;
          font-size: $nav_font;
          line-height: 130%;
          text-align: center;
          color: $title_font_color;
          margin-bottom: 5px;
        }
      }

      .banner_plate {
        position: absolute;
        width: 480px;
        height: 480px;
        left: -55px;
        z-index: 1;
        top: 100px;
      }

      .banner_left {
        position: absolute;
        width: 174px;
        height: 200px;
        left: 280px;
        top: 38px;
        transform: rotate(-10deg);
      }
    }
  }
}

//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_one @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@





//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_two @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


.sec_two {
  padding-top: 150px;

  .Delivery_title {

    h1 {
      font-family: 'Merienda';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 130%;
      color: $prim_color;
    }

    p {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: $title_font_color;
    }
    
    button {
      font-size: $btn_font;
      font-weight: $nav_weight;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 15px 20px;
      width: 160px;
      height: 50px;
      border: none;
      background: $prim_color;
      border-radius: 224.4px;
      color: #fff;
    }
  }

  .Delivery_img {
    position: relative;
    overflow: hidden;

    .cycler_bg {
      width: 110%;
    }
    .cycler{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      animation: cycling infinite alternate-reverse 3s linear;
    }

    @keyframes cycling {
      0%{
        transform: translateX(0px);
      }
      100%{
        transform: translateX(120px);
      }
    }
  }

}


//  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ sec_two @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

